{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 right">
            <div class="row postbody">    
                <h5>Register your personal login...</h5>  
                <h2>Sign Up</h2>
                {% if form.errors %}
                    {{ form.errors }}
                {% endif %}
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </div>
<div>    
{% endblock content %}