{% extends 'base.html' %}
{% block content %}
    <h5>Register your personal login...</h5>
    <div class="container-fluid">
        <div class="row">
            <div class="about">
                <h2>Sign Up</h2>
                {% if form.errors %}
                {{ form.errors }}
                {% endif %}
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}