{% extends 'base.html' %}
{% block content %}
    <p>You managed to log in! Aren't you lucky.</p>

    <h2>Photos</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 mt-3 left">
                <div class="row">
                    {% for photo in photos %}
                        <img src="{{ photo.image.url }}">
                        <p>{{ photo.caption }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        
    
{% endblock content %}