/* Google fonts import : font-family: 'Lato', sans-serif, font-family: 'Poor Story', system-ui;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poor+Story&display=swap');

/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* General styles */
body {
    /* display: flex; 
    align-items: center; */
    color: #3b3b3b;
    font-family: 'Lato', sans-serif;  
}



/* Header */
header {
    background-color: rgba(59, 59, 59, .8);
    /* padding: 0 1rem; */
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    align-items: center;
    z-index: 99;
}


header a {
    text-decoration: none;
    color: inherit;
}


/* Logo */
#logo {
    font-family: 'Poor Story', system-ui;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* Menu */
#menu {
    list-style-type: none;
    color: whitesmoke;
    font-size: 130%;
    letter-spacing: 2px;
}

#menu>li {
    margin-bottom: 1em;
}



/* Navigation bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgba(59, 59, 59, .8);
    width: auto;
    right: 0;
    padding: 0 2rem;
    border-radius: 0 3%;
    box-shadow: 3px 3px 3px black;
    display: none;
    top: 100%;
}

/* Nav toggle : credit and inspitaion from CI Love Running project */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    margin-top: 45px;
    margin-right: 0;
    font-size: 2rem;
    color: whitesmoke;
}



/* Mark active page on menu item with underline */
.active {
    border-bottom: 2px solid whitesmoke;
}



/* Background image 711x400px, behind header, main and footer, credit:  https://www.hyssnaforestresort.com/sv/ 
#background {
    background-color: gray;
    width: 100vw;
    height: 100%;
    background: url('../images/media-webDJI_0268_400.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    z-index: 99; 
}

*/

/* Main content */
main {
    /* flex: 1 0 auto; */
    width: 100vw;
    min-height: 100vh;
    margin-top: 100px;
}


.photos {
    column-count: 5;
    width: 300px;
    height: auto;
    
}

/* Book Now Button floting on main page 
#book-now-button {
    border-radius: 30px;
    background-color: rgba(252, 253, 252, 0.7);
    margin-left: 13vw;
    width: 200px;
    margin-top: 127px;
    padding: 5px;
    text-align: center;
    position: fixed;
    font-weight: 900;
}

#book-now-button a {
    color: rgba(59, 59, 59, 1);
    font-size: 150%;
    font-weight: 900;
    font-style: italic;
    text-decoration: none;
}

#book-now-button div {
    color: rgba(59, 59, 59, 1);
    font-size: 70%;
    font-style: italic;
    text-decoration: none;
}

*/

/* Welcome Section om main page 
#welcome {
    display: flex;
    flex-direction:column
}

*/
 /* Div in Welcome Section om main page 
#welcome div {
    margin-top: 60vh;
    border-radius: 7px;
    background-color: rgba(252, 253, 252, 0.8);
    width: 94vw;
    margin-left: 8px;
    margin-right: 8px;
    min-height: 100px;
    padding: 3px;
    z-index: 1;
}

*/
/* H2 in Div in Welcome Section om main page

.about h2 {
    font-size: 110%;
    font-weight: 900;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px;
    padding: 5px;
}
*/
/* P in Div in Welcome Section om main page */

.about p {
    text-align: center;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 15px;
    padding: 5px;
}



/* Book now Banner, hidden, replace book-now-button at larger screens than 768px 
#booknow-banner,
#booknow-banner a
#booknow-banner p {
    display: none;
    font-style: italic;
    font-weight: bold;
}



/* About Page 
.about {
    display: flex;
    flex-direction:column;
    margin-top: 30vh;
}

.about div {
    margin-top: 20px;
    border-radius: 7px;
    background-color: rgba(252, 253, 252, 0.9);
    text-align: center;
    margin-left:10px;
    width: 93vw;
    min-height: 100px;
    padding: 3px 3px;
    z-index: 1;
}

.about img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid rgba(252, 253, 252, 0.1);
    line-height: 3em;
}
*/
/* Booknow Form on BookNow Page */
.form {
    margin-top: 50px;
    margin-left: 2vw;
    margin-bottom:auto;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    background-color: rgba(252, 253, 252, 0.8);
    width: 400px;
    
}
/*
#booknow h1{
    font-size: 120%;
    text-align: center;
}


/* Input label inlinement in form 
#booknow label {
    margin-left:4vw;
}
*/
/* Inlinement rules for date input in form */
text-input {
    background: whitesmoke;
    color: rgba(59, 59, 59, 1);
    height: 20px;
    border: 1px solid rgba(59, 59, 59, 1);
    border-radius: 2px;
}

/* Text input fields contact */
.text-input-contact {
    margin-left:10px;
    width: 240px;
}

/* Text input fields short margin */
.text-input-sh {
    margin-left:2px;
    width: 80px;
}

/* Text input fields medium margin */
.text-input-md {
    margin-left: 18px;
    width: 80px;
}

/* Text input fields long margin */
.text-input-lng {
    margin-left:20px;
    width: 80px;
}

#booknow h3, p, b {
    font-size: 100%;
    align-items: center;
    margin-left: 20px;
}

/* Submit button, Send */
.button {
    margin-left: 76px;
    margin-bottom: 1vh;
    padding: 5px 32px;
    font-size: 100%;
    background-color: rgba(59, 59, 59, .8);
    color: whitesmoke;
    /* border: 2px solid rgba(59, 59, 59, .8); */
    border-radius: 30px;
}

/* Footer */
footer {
    background-color: rgba(59, 59, 59, .8);
    position: relative;
    width: 100%;
    /* height: 120px; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1px;
    align-content: center;
}

/* Follow us text */
#followus {
    text-align: center;
    font-size: 100%;
    padding: 1vw 0;
    color: whitesmoke;
}

/* Social media */
#social-media {
    text-align: center;
    justify-content: space-between;
    padding: 3px 0;
    display: flex;
    list-style-type: none;
    max-width: 80vw;
    margin-left: 9vw;
}

#social-media i {
    font-size: 170%;
    padding: 3px 0;
    color: whitesmoke;
}

/* Copyright information */
#copyrights {
    text-align: center;
    font-size: 80%;
    margin-top: 1px;
    padding: 3px 0;
    color: whitesmoke;
}

/* Media query: large or landscape phones (360px and up) */
@media screen and (min-width: 360px) {
    #book-now-button {
    margin-left: 23vw;
    }

    .button {
        margin-left: 90px;
    }

    #booknow {
        margin-left:10vw;
        margin-top: 125px;
    }
    
    #welcome div {
        margin-left: 11px;
    }
}

/* Media query: large or landscape phones (400px and up) */
@media screen and (min-width: 400px) {
    #book-now-button {
       margin-left: 24vw;
       /* margin:auto; */
    }

    #social-media {
        max-width: 65vw;
        margin-left: 17vw;
    }

    /* Submit button, Send */
    .button {
    margin-left: 90px;
    }

    #booknow {
        margin-left:15vw;
        margin-top: 125px;
    }
}

/* Media query: large or landscape phones (540px and up) */
@media screen and (min-width: 540px) {
    #booknow {
        margin-left: 21vw;
    }

    #book-now-button {
        /* margin:auto; */
        margin-left: 31vw;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #book-now-button {
        /* margin:auto; */
        margin-top: 132px;
        margin-left: 33vw;
    }
    
    #welcome {
        margin-top: 3vh;
        margin-bottom: 45vh;
        margin-left: 0;
    }
    
    /* Div in Welcome Section om main page */
    #welcome div {
        margin-top: 10vh;
        margin-left: 2vw;
        width: 96vw;
    }

    #welcome p {
        font-size: 170%;
        margin-left: 20px;
    }
    
    /* About Site */
    #about p {
        font-size: 170%;
        margin-left: 20px;
    }

    #about div {
    max-width: 400px;
    margin-left: 15vw;
    }
       
    #about h2 {
        font-size: 170%;
        font-weight: 900;
        margin-left: 20px;
    }

    #booknow {
        margin-left: 25vw;
        margin-top: 25vh;
        margin-bottom: 10vh;
    }  
}

/* Media query: screens higher than 720px and up */
@media screen and (min-height: 720px) {
    footer {
        position: fixed; 
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
        z-index: 1;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Background image 1067x600, behind header, main and footer, credit:  https://www.hyssnaforestresort.com/sv/ */
    #background {
        background-color: gray;
        width: 100vw;
        height: 100%;
        background: url('../images/media-webDJI_0268.jpg') no-repeat center center / cover;
        background-attachment: fixed;
        z-index: 99; 
    }

    
    /* Header */
    nav {
        display: block;
        margin-top: -50px;
        position: absolute;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none

    }
    #menu {
        display: flex;
        background-color: rgba(255, 255, 255, 0);
    }

    #menu a:hover {
        border-bottom: 2px dotted whitesmoke;
    }

    #menu > li {
        padding-left: 1rem;
        margin-top: -3px;
        margin-bottom: 0%
    }

    .nav-toggle-label {
        display: none;
    }
    
    #about div {
        width: 30vw;
        margin-left: 2vw;
    }

    #welcome div {
        margin-top: 2vh;
        margin-left: 2vw;
        width: 30vw;
    } 

    #booknow-banner {
        display:block;
        position:fixed;
        width: 50px;
        text-align: center;
        align-self:flex-end;
        margin-right: 3vw;
    }
    
    #booknow-banner a {
        text-decoration: none;
        color: red;
    }
    
    #book-now-button {
        display: none;
        /* margin-left: 43vw; */
    }
    
    #booknow {
        margin-left: 30vw;
    }

    #about div {
        width: 40vw;
    }

    #social-media {
        max-width: 50vw;
        margin-left: 25vw;
    }   
}

/* Large devices (laptops and desktops, 900px and up) */
@media screen and (min-width: 900px) {
    #booknow {
        margin-left: 33vw;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #booknow {
        margin-left: 35vw;
    }
    
    #about div {
        width: 60vw;
    }

    #booknow-banner {
    margin-right: 5vw;
    }

    #welcome div {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    }
}

/* Large devices (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #about div {
        margin-left:5vw ;
        width: 400px;
    }

    #booknow {
        margin-left: 20vw;
    }
}