{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <!-- Logo -->
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{%  static '/assets/logos/logo400.png' %}" alt="logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation items -->    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == blog_url %}active{% endif %}" aria-current="page" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == blog_create_url %}active{% endif %}" aria-current="page" href="/blog/upload">Add Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == blog_view_url %}active{% endif %}" aria-current="page" href="/blog/photo">View Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == photo_upload_url %}active{% endif %}" aria-current="page" href="/blog/photo/upload">Upload Photo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == create_multiple_photos_url %}active{% endif %}" aria-current="page" href="/blog/photo/upload-multiple">Upload Multiple Photos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>
                            
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                    href="{% url 'signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'login' %}">Login</a>
                {% endif %}        
                </ul>
            </div>
        </div>
            <!-- View logged in user --> 
            {% if user.is_authenticated %}
                <p class="text-end m-3">You are logged in as {{ user }}</p>
            {% else %}
                <p class="text-end m-3">You are not logged in</p>
            {% endif %}
            <span class="navbar-text text-muted">
                Walk along your memory lane...
            </span>
    </nav>
</header>