{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 right">
            <div class="row postbody">    
                <!-- Credit and insperation: https://openclassrooms.com/en/courses/7107341-intermediate-django/7264542-add-a-blog-post-creation-facility -->
                <h2>Create a Post</h2>
                <form method="post" enctype="multipart/form-data">
                    {{ blog_form.as_p }}
                    {{ photo_form.as_p }}
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}