{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-3 right">
            <div class="row postbody">    
                <h2>Create a Post</h2>
                <form method="post" enctype="multipart/form-data">
                    {{ blog_form.as_p }}
                    {{ photo_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}