{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-3 right">
            <div class="row postbody"> 
                <h2>Add Photos</h2>
                <form method="post" enctype="multipart/form-data">
                    {{ formset.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Save</button>
                </form>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}