{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-3 right">
            <div class="row postbody">    
                <h3>Delete Photo?</h3>
                <form method="post" enctype="multipart/form-data">
                    {{ delete_form }}
                    {% csrf_token %}
                    <button type="submit" >Delete</button>
                </form>
            </div>
        </div>
    </div>
    
</div> 
{% endblock content %}