{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-3 right">
            <div class="row postbody">    
                <h2>Edit Blog</h2>
                <h2>{{ blog.title }}</h2>
                <form method="post" enctype="multipart/form-data">
                    {{ edit_form.as_p }}
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
                </form>
                <hr>
                <!-- <h3>Delete Blog?</h3>
                <form method="post">
                    {{ delete_form }}
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form> -->
                  
                              

            </div>
        </div>
    </div>
    
</div> 
{% endblock content %}