{% extends 'base.html' %}
{% block content %}
    <p>Welcome to Memory Lane....</p>
    <!-- View images on hom page, credit and inspiration: https://openclassrooms.com/en/courses/7107341-intermediate-django/7266261-display-posts-in-the-feed-->
    <h2>Photos</h2>
    <div class="container-fluid">
        <div class="row">
            <div>
                <div>
                    {% for photo in photos %}
                        <img src="{{ photo.image.url }}">
                        <p>{{ photo.caption }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        
    
{% endblock content %}