{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3 mt-3 left">
            <div class="row postbody">
                <h2>Upload a Photo</h2>
                    <form method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}