{% extends 'base.html' %}
{% block content %}
<h2>Blog</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="about">
                <div class="row">
                    {% for blog in blogs %}
                        <div class="post">
                            <a href="{% url 'view_blog' blog.id %}">
                                <h4>Blog Post: {{ blog.title }}</h4>
                                <img src="{{ blog.photo.image.url }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}



