{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid postbody">
    <div class="row bloglist">
        <div class="col-12 mt-3 left">
            <!-- View blog posts and images Blog page, credit and insperation: https://openclassrooms.com/en/courses/7107341-intermediate-django/7266261-display-posts-in-the-feed-->
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-md-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="image-container">
                                    <img src="{{ blog.photo.image.url }}" alt="{{ blog.title }}">
                                </div>
                                <a href="{% url 'view_blog' blog.id %}">
                                    <h3 class="card-title">{{ blog.title }}</h3>
                                    <p class="card-text text-muted h6">Author: {{ blog.author }}</p>
                                    <p class="card-text text-muted h6">Published: {{ blog.publish |date:"d M Y" }} </p>
                                    </a>
                                    <hr>
                                    <p class="card-text text-muted h6">{{ blog.date_created |date:"d M Y" }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>            
{% endblock content %}



