{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Photo Entries Column -->
        <div class="col-12 mt-3 center">
            <div class="row blogpost">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2>{{ blog.title }}</h2>
                            <img src="{{ blog.photo.image.url }}">
                            <p class="card-text text-muted h5">"{{ blog.photo.caption }}"</p>
                            <p class="card-text text-muted h6">Author: {{ blog.author }}</p>
                            <p class="card-text text-muted h6">Published: {{ blog.publish |date:"d M Y" }}</p>
                            <div class="postbody">
                                <p>{{ blog.body }}</p>
                            </div>
                            {% if request.user == blog.author %}
                                <button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button>    
                                <button class="btn btn-primary" onclick="location.href='{% url 'edit_blog' blog.id %}'" type="button">Edit post</button>
                                <button class="btn btn-danger" onclick="location.href='{% url 'delete_blog' blog.id %}'" type="button">Delete post</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            
{% endblock content %}

